[![Maintenance](https://img.shields.io/badge/Maintained%3F-yes-green.svg)](https://github.com/{{ github_user }}/{{ project_slug }}/graphs/commit-activity)
[![PyPI download month](https://img.shields.io/pypi/dm/{{ python_module }}.svg)](https://pypi.python.org/pypi/{{ python_module }}/)
[![PyPI version fury.io](https://badge.fury.io/py/{{ python_module }}.svg)](https://pypi.python.org/pypi/{{ python_module }}/)
[![Documentation Status](https://readthedocs.org/projects/{{ python_module }}/badge/?version=latest)](http://{{ python_module }}.readthedocs.io/?badge=latest)
[![PR welcome issues still open](https://badgen.net/https/pr-welcome-badge.vercel.app/api/badge/{{ github_user }}/{{ python_module }})](https://github.com/{{ github_user }}/{{ python_module }}/issues?q=archived:false+is:issue+is:open+sort:updated-desc+label%3A%22help%20wanted%22%2C%22good%20first%20issue%22)
[![MIT license](https://img.shields.io/badge/License-MIT-blue.svg)](https://lbesson.mit-license.org/)
[![buymecoffee](https://img.shields.io/badge/-buy_me_a%C2%A0coffee-gray?logo=buy-me-a-coffee)](https://www.buymeacoffee.com/{{ github_user }})

# {{ project_name }}

{{ project_description }}

## Installation


## Usage

### Using a container

You can build a Docker container to run this. Build using "make docker-build".


## Roadmap

## Credits and Sources
